.dark-color {
    color: var(--dark-blue);
}

.light-blue {
    color: var(--light-blue);
}

.accent {
    font-size: 22px;
    font-weight: 600px;
}

.bold {
    font-weight: bold;
}

.centered {
    text-align: center;
}

.underline {
    text-decoration: underline;
}

.title-blue {
    color: var(--title-blue);
}