.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding-top: 32px;


    &__button {
        width: 11px;
        height: 11px;
        background-color: var(--grey);
        border-radius: 50%;

        &--active {
            background-color: var(--light-blue);
            
        }
    }
}