.footer {
    width: 1440px;
    height: 278px;
    line-height: 1.8;
    margin: 0px;
    padding: 56px 100px;
    background-color: var(--dark-blue);
    position: relative;
    background-image: url('/images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &__container {
        display: flex;
        justify-content: space-between;
    }

    &__menu {
        margin: 0px;

        &-link {

            color: var(--white);


            &:hover {
                color: var(--light-blue);
            }
        }


    }

    &__icon {
        width: 34px;
        height: 34px;
        fill: var(--white);
    }


    &__address-link {

        color: var(--white);
        font-size: 18px;
        cursor: pointer;
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;

        &:hover {
            color: var(--light-blue);
        }
    }

    &__address-list {
        margin: 0px;
        padding: 0px;
        width: 203px;
        height: 38px;
    }

    &__address-copyright {
        color: #747272;
        font-size: 13px;
    }
}